body {
    background: black;
}

.active {
    color: black;
}

h1 {
    color: #dddddd;
    font-size: 100px;
    font-family: MPLUS1-Regular;
    text-align: center;
    transition: 0.5s;
}

h1:hover {
    border-radius: 10px;
}

p{
    color: white;
    font-size: 20px;
    font-family: MPLUS1-Light;
}

.box {
    width: 900px;
    position: absolute;
    height: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 55px;
    text-align: center;
}

.box button {

    border: 0;
    width: 230px;
    height: 45px;
    background: #dddddd;
    display: block;
    margin: 50px auto;
    text-align: center;
    font-size: 20px;
    padding: 4px 4px;
    outline: none;
    color: black;
    border-radius: 12px;
    cursor: pointer;
}

.box button:hover {
    background-color: white;
}

.a {
    font-family: MPLUS1-Regular;
    text-decoration: none;
    font-size: 15px;
}

.MenuNavigation {
    font-family: MPLUS1-Light;
}

hr {
    background: white;
    border: 0;
    height: 5px;
}

img {
    width: 400px;
    height: 250px;
    margin: 15px 15px;
}

.menu {
    margin-top: -8px;
    height: 200px;
    width: 100%;
    background: url("images/TopLogo2.png");
}

@media only screen and (max-width: 768px) {     
    h1 {
        font-size: 40px;
        font-family: WorkSans-Regular;
    }
    
    p{
        font-size: 10px;
        font-family: WorkSans-Light;
    }

    .box {
        width: 300px;
        position: absolute;
        height: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 55px;
        text-align: center;
    }

    img {
        margin: 0px 0px;
    }
}