:root {
    --default-color: #eeae98;
	--background: #212329;
	--box-color: #2d3646;

	/* cool white color: #e6e8ee */
}

/*

@keyframes main-color-anim {
	100%,0%{
		--default-color: rgb(255,0,0);
	}
	8%{
		--default-color: rgb(255,127,0);
	}
	16%{
		--default-color: rgb(255,255,0);
	}
	25%{
		--default-color: rgb(127,255,0);
	}
	33%{
		--default-color: rgb(0,255,0);
	}
	41%{
		--default-color: rgb(0,255,127);
	}
	50%{
		--default-color: rgb(0,255,255);
	}
	58%{
		--default-color: rgb(0,127,255);
	}
	66%{
		--default-color: rgb(0,0,255);
	}
	75%{
		--default-color: rgb(127,0,255);
	}
	83%{
		--default-color: rgb(255,0,255);
	}
	91%{
		--default-color: rgb(255,0,127);
	}
}