:root {
    --default-color: #e57e80;
}

html, body {
	margin: 0;
	padding: 0;
	cursor: url('./images/cursor.png'), auto;
}

body {
	background: #1e2327;
	font-family:monospace;
}

h1, p {
	text-align: center;
	color:var(--default-color);
}

hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(229, 126, 128, 0), rgba(229, 126, 128, 0.75), rgba(229, 126, 128, 0));
}

h1 {
	font-size: 40px;
}

a {
	text-decoration:none;
	color:var(--default-color);
}

a:hover {
	transition:0.2s;
	color:#fff;
}

.box {
	background-color: #2b3339;
	width: 600px;
    position:relative;
    left: 50%;
    transform: translate(-50%, 150px);
	padding-bottom: 10px;
	padding-top: 10px;
    text-align: center;
	border-radius: 8px;
	box-shadow: 0px 0px 30px #181d20;
	border-bottom: 8px solid var(--default-color);
}

button {
	border: 0;
    width: 270px;
    height:50px;
    background: #2e373d;
    display: block;
    margin: 15px auto;
    text-align: left;
    padding: 0px 20px;
    outline: none;
    font-family: WorkSans-Light;
    border-radius: 8px;
	font-family:Sans-serif, Helvetica;
	font-size: 20px;
	color: var(--default-color);
	box-shadow: 0px 0px 15px #1d2327;
	cursor: url('./images/cursor.png'), auto;
}

button:hover {
	background: var(--default-color);
	color: #2b3339;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #111416;
	color: #fff;
	width: 100%;
	text-align: left; 
}

.footer p {
	color: var(--default-color);
	margin: 2px;
	padding: 2px;
}

table {
	margin: 0px 40px;
}

th, td {
	font-size: 44px;
	text-align: center;
	color: var(--default-color);
	width: 50px;
	height: 50px;
	font-family: "Monaco", Monospace;
	background-color: #2b3339;
	position:fixed;
	z-index: 1;
	cursor: url('./images/cursor.png'), auto;
}

th:hover {
	background-color: #444444;
	border-bottom: 3px solid var(--default-color);
}

.screenshots {
	margin-top: 25px;
}

img {
	border-radius: 12px;
	box-shadow: 0px 0px 15px #1d2327;
}

@media only screen and (max-width: 1147px) {  
    th, td {
		left: 35%;
	}

	.box {
		width: 100%;
		margin-top: -80px;
	}

	h1 {
		font-size: 80px;
	}

	p {
		font-size: 30px;
	}

	button {
		width: 500px;
		height: 100px;
		font-size: 35px;
		border-radius: 20px;
		padding: 0px 35px;
	}

	img {
		height: 450px;
	}
}