html, body {
	margin: 0;
	padding: 0;
}

body {
	background: #2d333f;
	font-family:monospace!important;
}

h1, p {
	text-align: center;
	color:#c4b898;
}

h1 {
	font-size: 40px;
}

a {
	text-decoration:none;
	color:#c4b898!important
}

a:hover {
	transition:0.2s!important;
	color:#fff!important
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #222222;
	color: #fff;
	width: 100%;
	text-align: left; 
}

.footer p {
	color: #495a80;
	margin: 2px;
	padding: 2px;
}

table {
	margin: 0px 40px;
}

th, td {
	font-size: 44px;
	text-align: center;
	color: white;
	width: 50px;
	height: 50px;
	font-family: "Monaco", Monospace;
	background-color: #282c34;
	position:fixed;
	transition: 0.15s;
}

th:hover {
	background-color: #444444;
	cursor: pointer;
	border-bottom: 3px solid #ffb52a;
}

.screenshots {
	margin-top: 25px;
}