html, body {
	margin: 0;
	padding: 0;
	cursor: url('./images/cursor.png'), auto;
}

body {
	background: #1e2327;
	font-family:monospace!important;
}

h1, p {
	text-align: center;
	color:#e57e80;
}

hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(229, 126, 128, 0), rgba(229, 126, 128, 0.75), rgba(229, 126, 128, 0));
}

h1 {
	font-size: 40px;
}

a {
	text-decoration:none;
	color:#e57e80!important
}

a:hover {
	transition:0.2s!important;
	color:#fff!important
}

.box {
	background-color: #2b3339;
	width: 600px;
    position:relative;
    left: 50%;
    transform: translate(-50%, 150px);
	padding-bottom: 10px;
	padding-top: 10px;
    text-align: center;
	border-radius: 8px;
	box-shadow: 0px 0px 15px #1d2327;
	border-bottom: 8px solid #e57e80;
}

button {
	border: 0;
    width: 270px;
    height:50px;
    background: #2e373d;
    display: block;
    margin: 15px auto;
    text-align: left;
    padding: 0px 20px;
    outline: none;
    font-family: WorkSans-Light;
    border-radius: 8px;
	font-family:Sans-serif, Helvetica!important;
	font-size: 20px;
	color: #e57e80;
	box-shadow: 0px 0px 15px #1d2327;
	cursor: url('./images/cursor.png'), auto;
}

button:hover {
	background: #e57e80;
	color: #2b3339;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #111416;
	color: #fff;
	width: 100%;
	text-align: left; 
}

.footer p {
	color: #e57e80;
	margin: 2px;
	padding: 2px;
}

table {
	margin: 0px 40px;
}

th, td {
	font-size: 44px;
	text-align: center;
	color: #e57e80;
	width: 50px;
	height: 50px;
	font-family: "Monaco", Monospace;
	background-color: #2b3339;
	position:fixed;
	z-index: 1;
	cursor: url('./images/cursor.png'), auto;
}

th:hover {
	background-color: #444444;
	border-bottom: 3px solid #e57e80;
}

.screenshots {
	margin-top: 25px;
}

img {
	border-radius: 12px;
}